flask
gunicorn
pandas
scikit-learn
xgboost
lightgbm
psycopg2-binary

#  Create the Buildspec (The 'CI/CD Instructions' for Git)
%%writefile buildspec.yml
version: 0.2
phases:
  install:
    runtime-versions:
      python: 3.9
  build:
    commands:
      - echo Building Docker Image...
      - docker build -t churn-app .
